<div class="flex justify-between">
  <img class="size-100" src="<%= @album.cover %>" alt="<%= @album.title %>'s cover">
  <div class="flex flex-col items-end space-y-4">
    <% cache @album do %>
      <div class="flex flex-col items-end">
          <h1 class="text-4xl font-black"><%= @album.title %></h1>
          <h2>by <%= @album.artist %></h2>
      </div>
      <p><%= @album.summary %></p>
    <% end %>

    <div class="flex space-x-4">
      <%= link_to "Back", albums_path, class: "p-4 bg-pink-500 max-w-fit rounded-sm" %>
      <% if authenticated? %>
        <%= link_to "Edit", edit_album_path(@album), class: "p-4 bg-pink-500 max-w-fit rounded-sm" %>
        <%= button_to "Delete", @album, method: :delete, data: { turbo_confirm: "Are you sure?"}, class: "p-4 bg-pink-500 max-w-fit rounded-sm cursor-pointer" %>
      <% end %>
    </div>
  </div>
</div>
