<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "The Runout" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="bg-gray-900 text-gray-300">
    <nav class="h-20 sticky flex flex-row justify-between bg-blue-600">
      <img src="" class="object-contain w-full"/>
      <div class="flex space-x-2 items-end p-4">
        <a href="#">Profile</a>
        <a href="#">About</a>
      </div>
    </nav>
    <main class="container mx-auto mt-4 px-4 flex flex-col">
      <%= yield %>
    </main>
  </body>
</html>
